@import "./base.css";

* {
  text-decoration: none;
}

html, body, .main-container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
}
